<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--CSS-->
<head th:fragment="commonHeader(title)">
    <title th:text="${title}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <link rel="icon" type="image/x-icon" th:href="@{/dev/images/Tomcat/favicon.ico}">
    <link th:href="@{/dev/bootstrap/v3.3.7/css/bootstrap.css}" href="/dev/bootstrap/v3.3.7/css/bootstrap.css"
          rel="stylesheet"/>
    <link th:href="@{/dev/select2/4.0/select2.css}" rel="stylesheet"/>
    <link th:href="@{/dev/jquery-asDatepicker/css/asDatepicker.css}" rel="stylesheet"/>
    <link th:href="@{/dev/layer/3.1/skin/default/layer.css}" rel="stylesheet"/>
    <link th:href="@{/dev/bootstrap-table-1.11.0/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/dev/AdminLTE-2.4.5/css/AdminLTE.min.css}" rel="stylesheet"/>
    <link th:href="@{/dev/AdminLTE-2.4.5/css/skins/_all-skins.css}" rel="stylesheet"/>
    <link th:href="@{/dev/jquery-plugins/ionicons.min.css}" rel="stylesheet"/>
    <link th:href="@{/dev/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/dev/jquery-ztree/3.5/css/default/zTreeStyle.css}" rel="stylesheet"/>

</head>

<body>
<!--js-->
<footer th:fragment="commonFooter">
    <script th:src="@{/dev/jQuery/jquery-1.12.4.js}" type="text/javascript"></script>
    <script th:src="@{/dev/bootstrap/v3.3.7/js/bootstrap.js}" type="text/javascript"></script>
    <script th:src="@{/dev/bootstrap-plugins/bootstrap-hover-dropdown.js}" type="text/javascript"></script>
    <script th:src="@{/dev/jquery-asDatepicker/js/jquery-asDatepicker.js}" type="text/javascript"></script>
    <script th:src="@{/dev/layer/3.1/layer.js}" type="text/javascript"></script>
    <script th:src="@{/dev/my97/WdatePicker.js}" type="text/javascript"></script>
    <script th:src="@{/dev/my97/lang/zh_CN.js}" type="text/javascript"></script>
    <script th:src="@{/dev/select2/4.0/select2.js}" type="text/javascript"></script>
    <script th:src="@{/dev/bootstrap-table-1.11.0/bootstrap-table.min.js}" type="text/javascript"></script>
    <!-- 引入中文语言包 -->
    <script th:src="@{/dev/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js}" type="text/javascript"></script>
    <script th:src="@{/dev/AdminLTE-2.4.5/js/adminlte.min.js}" type="text/javascript"></script>
    <script th:src="@{/dev/bootstrap-plugins/bootstrap-hover-dropdown.js}" type="text/javascript"></script>
    <!--滚动-->
    <script th:src="@{/dev/jquery-plugins/jquery.slimscroll.js}" type="text/javascript"></script>
    <!--bootstrap-table 导出插件-->
    <script th:src="@{/dev/bootstrap-table-1.11.0/export/tableExport.min.js}" type="text/javascript"></script>
    <script th:src="@{/dev/bootstrap-table-1.11.0/export/bootstrap-table-export.js}" type="text/javascript"></script>
    <!--二维码生成插件-->
    <script th:src="@{/dev/qrcodejs-master/qrcode.js}" type="text/javascript"></script>
    <!--拖动-->
    <script th:src="@{/dev/jQuery/jquery-ui-draggable-1.12.1.min.js}" type="text/javascript"></script>
    <!--validation-->
    <script th:src="@{/dev/jquery-validation-1.19.0/dist/jquery.validate.min.js}" type="text/javascript"></script>
    <!--validation 中文-->
    <script th:src="@{/dev/jquery-validation-1.19.0/dist/localization/messages_zh.min.js}"
            type="text/javascript"></script>
    <!--eCharts-->
    <script th:src="@{/dev/EChart/echarts.js}" type="text/javascript"></script>
    <script th:src="@{/dev/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</footer>
</body>
</html>